#vf{
    margin-left: 25%;
}
.wh{
    margin-left: 65%;
    margin-top: -45%;
}
#abd{
    width: 200px;
    height: 30px;
}
#hu{
    width: 200px;
    height: 30px;
}
#jg{
    width: 210px;
    height: 30px;
    background-color: aqua;
    color: white;
}
hr{
    width: 210px;
    margin-right: 300px;
    margin-top: 4%;
    margin-left: 20px;
}
.mus{
    position: absolute;
    right: 80px;
    margin-top: 50px;
    height: 380px;
    width: 380px;
    text-align: center;
}
#asf{
    margin: auto;
    height: 250px;
    width: 250px;
}
.maaz{
        position: relative;
        left: 1050px;

}
.abdul{
    margin-top: 35%;
    margin-left: 64%;
    margin-right: 5%;
    text-align: center;
}
.fati{
    position: relative;
    left: 1000px;
    background-color: aqua;
    color: white;
}
Li{
    display: inline-block;
    padding-left: 10px;
}
.sami{
    margin-top: 70px;
    margin-left: 350px;
}
.saad{
    margin-top: 30px;
    margin-left: 550px;
}